<% redcar_css      = File.expand_path(File.join(Redcar.root, %w(plugins html_view views default.css))) %>
<% watermark       = File.expand_path(File.join(Redcar.root, %w(plugins html_view views watermark-48.png))) %>
<% base_path       = File.expand_path(File.join(Redcar.root, %w(plugins infrarecord views))) %>
<% infrarecord_css = File.expand_path(File.join(base_path, %w(infrarecord.css))) %>
<% jquery          = File.expand_path(File.join(base_path, %w(jquery jquery-1.9.0.min.js))) %>
<% jqueryui        = File.expand_path(File.join(base_path, %w(jquery jquery-ui-1.10.0.custom.min.js))) %>
<% jqueryui_css    = File.expand_path(File.join(base_path, %w(jquery css jquery-ui.css))) %>



<link rel="stylesheet" href="file://<%= redcar_css %>" type="text/css" media="screen">
<link rel="stylesheet" href="file://<%= infrarecord_css %>" type="text/css" media="screen">
<link rel="stylesheet" href="file://<%= jqueryui_css %>" type="text/css" media="screen">

<script src="file://<%= jquery %>"></script>
<script src="file://<%= jqueryui %>"></script>

<script>
  sendBinding = function(name, value) {
    rubyCall('setBinding', name, value);
  };
  sendArgValue = function(index, value) {
    rubyCall('setArgValue', index, value);
  };

</script>


<style type="text/css">
</style>
<div class="top">
  <%= output %>
</div>

<script>
  document.getElementsByClassName('current')[0].scrollIntoView()
</script>

